<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"anchor":"page-content","tagName":"main","layout":{"type":"constrained"}} -->
<main class="case-study-post wp-block-group">
	
	<!-- wp:post-featured-image {"sizeSlug":"page-header-desktop","className":"cs-hero", "overlayColor": "ceiba-navy", "dimRatio": "70"} /-->
	
	<!-- wp:post-title {"level": 1 } /-->
	
	<!-- wp:group {"className":"case-study-post__content"} -->
	<div class="case-study-post__content">
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
